<p>snippets</p>
<a href="./create-snippet" class="btn">Create</a>
<table>
    <thead>
        <tr>
            <th>nr</th>
            <th>title</th>
            <th>owner</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    {{#if viewData.snippets.length}}
        {{#each viewData.snippets}}
            <tbody>
                <tr>
                    <td>{{this.title}}</td>
                    <td><a href="/snippets/snippet/{{this.id}}">{{this.title}}</a></td>
                    <td>{{this.ownerId}}</td>
                    <td>
                        <form action="/snippets/update-snippet/{{this.id}}?ownerId={{this.ownerId}}">
                            <input type="hidden" name="ownerId" value={{this.ownerId}}>
                            <input type="submit" name="edit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form action="/snippets/delete-snippet/{{this.id}}" method="post">
                            <input type="hidden" name="ownerId" value={{this.ownerId}}>
                            <input type="submit" name="delete" value="Delete">
                        </form>
                    </td>
                </tr>
            </tbody>
        {{/each}}
        {{else}}
            <tbody>
                <tr>
                    <td colspan="5">No data to show</td>
                </tr>
            </tbody>
    {{/if}}
</table>
